!cocos2d/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.exe

# Cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
*.dir

# cocos
engine/

# VS
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
lib/Debug/
win32/Debug/
bin/
.vs/

# spine
spine-cocos2dx.lib
spine-cocos2dx.pdb
spine-cpp.lib
spine-cpp.pdb

# game
BlockBlast.exp
BlockBlast.lib
*.log

/cocos2d/cocos/platform/android/libcocos2dx/build